<div class="container">
  <app-page-header></app-page-header>

    <!-- <Jumbotron>
        <Container>
            <img src={popcornImg} alt="popcorn" className="popcorn"/>

            <h1>All videos. All the time.</h1>

            <p>Guaranteed 100% server free.</p>
        </Container>
    </Jumbotron> -->
    <div class="container bg-light popcorn-container">
      <img src="assets/images/popcorn.png" alt="popcorn" class="popcorn"/>
      <h1>All videos. All the time.</h1>

      <p>Guaranteed 100% server free.</p>
    </div>
    <div>
      <app-video-list></app-video-list>
    </div>
    <div>LOGIN to WATCH</div>
</div>
